@charset "UTF-8";
/* Estilos para tela */
* {
    margin: 0px;
    padding: 0px; 
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: blueviolet;
    padding-top: 10px;
}

header h1 {
    color: rgb(255, 208, 0);
    text-align: center;
}
menu ul {
    list-style: none;
    background-color: rgb(82, 1, 82);
    padding: 10px;
}

menu li {
    color: whitesmoke;
    display: inline;
    padding: 15px;
}

menu li a {
    color: whitesmoke;
    text-decoration: underline;
    padding: 10px;
    
}